<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/klogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".ItemActivity"
            android:label="Item Activity" >
        </activity>
        <activity
            android:name=".EditActivity"
            android:label="Item Activity" >
        </activity>
        <activity
            android:name=".CartActivity"
            android:exported="false" />
        <activity
            android:name=".FruitActivity"
            android:exported="false" />
        <activity
            android:name=".MeatActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SeafoodActivity"
            android:exported="false" />
        <activity
            android:name=".UserListActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".WheatActivity"
            android:exported="false" />
        <activity
            android:name=".VegetableActivity"
            android:exported="false" />
        <activity
            android:name=".MessageActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
    </application>

</manifest>